.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.skipLink {position: absolute; left: -1000px; top: 5px; z-index: 999; background: white; color: black;}
.skipLink:focus {left: 0;}

html {
    font-size: 125%;
}

body {
    font-size: 1rem;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

h1,
h2,
h3,
p,
section,
ul,
li {
    padding: 0;
    margin: 0;
}