
.recordWall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.record {
    border: 3px solid black;
    padding: 10px;
    background-color: white;
    width: calc(33.33% - 3%);
    margin: 1.5%;
}

.modal {
    display: none;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modalContent {
    width: 60%;
    margin: 10vh auto 0 auto;
    padding: 50px;
    background: white;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 2rem;
    color: lightgray;
    transition: all .2s ease-in-out;
        &:hover,
        &:focus {
            color: red;
        }
}

.themeModal {
    display: none;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.themeModalContent {
    width: 60%;
    margin: 10vh auto 0 auto;
    padding: 50px;
    background: white;
    text-align: center;
    position: relative;
    display: flex;
    img {
        height: 100%;
        &:hover {
            border: 1px solid black;
        }
    }
}
